body{
    background-color: rgb(253, 236, 214);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: slategray;
    left: 0;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px;
}
li :hover{
    background-color: rgba(201, 185, 165, 0.5);
}
.active{
    background-color: rgb(100, 139, 177);
}
.content{
    margin-top: 48px;
    left: 0;
}