body{
    background-color: #eee;
    width: 200px;
}
.flex{
    display: flex;
    flex-flow: row wrap;
    height: 200px;
}
.red{
    background-color: red;
}
.primero{
    order: 0;
 }
.segundo{
    order: 1;
}
.tercero{
    order: 2;
}